{{- $baseurl := urls.Parse site.BaseURL -}}
{{- $url := urls.Parse .Destination -}}
{{- $getpage := site.GetPage .Destination -}}
{{- $internal := lt (len $url.Host) 1 -}} {{/* NOTE: internal links will always have an empty $url.Host */}}

{{- $fragment := $url.Fragment -}}
{{- with $fragment -}}{{ $fragment = printf "#%s" $fragment }}{{- end -}}

{{- $destination := "" -}}
{{- if $internal -}}
  {{- if (strings.HasPrefix $url.Path "./") -}}
    {{/* NOTE: for links starting with ./ */}}
    {{- $urltrimmed := strings.TrimPrefix "./" $url -}}
    {{- $destination = printf "%s://%s/%s%s" $baseurl.Scheme $baseurl.Host $urltrimmed $fragment -}}
  {{- else -}}
    {{/* NOTE: for internal links */}}
    {{- $destination = printf "%s%s" $getpage.RelPermalink $fragment -}}
  {{- end -}}
{{- else -}}
  {{- $destination = .Destination -}}
{{- end -}}

{{/* PROTOCOLS */}}
  {{- $chat := findRE "^(?:discord|irc[s6]?|jabber|skype|xmpp)://" .Destination -}}
  {{- $ftp := findRE "^(?:[as]?ftp)://" .Destination -}}
  {{- $magnet := strings.HasPrefix .Destination "magnet://" -}}
  {{- $mail := strings.HasPrefix .Destination "mailto:" -}}
  {{- $remote := findRE "^(?:bzr|git|s(?:sh|vn)|telnet)://" .Destination -}}
  {{- $tel := strings.HasPrefix .Destination "tel:" -}}

{{/* READING */}}
  {{- $books := or (strings.HasPrefix .Destination "doi://") (findRE "\\.(?:epub|mobi|pdf)$" .Destination) -}}
  {{- $document := findRE "\\.(?:docx?|odt|s(?:dw|xw)|sxw|uo[ft])$" .Destination -}}
  {{- $text := findRE "\\.(?:csv|txt)$" .Destination -}}
  {{- $presentation := findRE "\\.(?:f?odp|pptx?|s(?:d[dp]|xi)|uop)$" .Destination -}}
  {{- $spreadsheet := findRE "\\.(?:f?ods|s(?:d[cx]|xc)|uos|xlsx?)$" .Destination -}}

{{/* MEDIA */}}
  {{- $audio := findRE "\\.(?:(?:fl|a)ac|mka|og[ag]|opus|mp[3a]|midi?|wave?|wma)$" .Destination -}}
  {{- $video := findRE "\\.(?:av[1i]|divx|mk(?:3d|v)|mp(?:(?:e?g)?4?|v)|og[mv]|xvid|webm)$" .Destination -}}
  {{- $subtitle := findRE "\\.(?:dfxp|mks|s(?:bv|cc|rt|ub)|ttml|vtt)$" .Destination -}}

{{/* EXECUTABLES */}}
  {{- $executable := findRE "\\.(?:apk|com|deb|exe|msi)$" .Destination -}}
  {{- $scripts := findRE "\\.(?:bat|sh)$" .Destination -}}

{{/* OTHERS */}}
  {{- $fonts := findRE "\\.(?:otf|tt[fc]|woff2?)$" .Destination -}}
  {{- $compressed := findRE "\\.(?:[7g]?z(?:ip)?|bz(?:ip)?2?|[rt]ar)$" .Destination -}}
  {{- $diskimage := findRE "\\.(?:[di]mg|iso|md[sfx])$" .Destination -}}
  {{- $imagediting := findRE "\\.(?:psd|xcf)$" .Destination -}}

{{- $icon := "" -}}
{{- if $chat -}}{{ $icon = "chat" }}
  {{- else if $ftp -}}{{ $icon = "ftp" }}
  {{- else if $magnet -}}{{ $icon = "magnet" }}
  {{- else if $mail -}}{{ $icon = "mail" }}
  {{- else if $remote -}}{{ $icon = "remote" }}
  {{- else if $tel -}}{{ $icon = "tel" }}

  {{- else if $books -}}{{ $icon = "books" }}
  {{- else if $document -}}{{ $icon = "document" }}
  {{- else if $text -}}{{ $icon = "text" }}
  {{- else if $presentation -}}{{ $icon = "presentation" }}
  {{- else if $spreadsheet -}}{{ $icon = "spreadsheet" }}

  {{- else if $audio -}}{{ $icon = "audio" }}
  {{- else if $video -}}{{ $icon = "video" }}
  {{- else if $subtitle -}}{{ $icon = "subtitle" }}

  {{- else if $executable -}}{{ $icon = "executable" }}
  {{- else if $scripts -}}{{ $icon = "scripts" }}

  {{- else if $fonts -}}{{ $icon = "fonts" }}
  {{- else if $compressed -}}{{ $icon = "compressed" }}
  {{- else if $diskimage -}}{{ $icon = "diskimage" }}
  {{- else if $imagediting -}}{{ $icon = "imagediting" }}

  {{- else if and (not $internal) (ne $url.Host $baseurl.Host) -}}{{ $icon = "external" }}
{{- end -}}
<a href="{{ $destination | safeURL }}"{{ with or .Title $getpage.LinkTitle .Text }} title="{{ . }}"{{ end }}{{ with $icon }} class="icon_{{ . }}"{{ end }}{{ if not $internal }} rel="noopener external"{{ end }}>{{ or .Text .Title $getpage.LinkTitle | safeHTML }}</a>
