:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 880px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(10, 10, 10);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(34, 29, 28);
    --entry: rgb(50, 42, 40);
    --primary: rgb(255, 190, 152);
    --secondary: rgb(196, 196, 197);
    --tertiary: rgb(70, 66, 62);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(28, 28, 35);
    --code-bg: rgb(30, 30, 32);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
